.discover-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.discover-main-section .covers-image {
    width: 50vh;
    margin-left: 5rem;
    height: auto;
    max-width: 100%;
}

.icon-section {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 100px;
    height: 100px;
    background-color: #1F2027;
    margin-bottom: 2rem;
    border-radius: 0.5rem;;
}

.icon img {
    width: 35px;
}

.title {
    margin-bottom: 3 rem;
}

@media (max-width: 940px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
    }

.discover-main-section .covers-image {
        margin-top: 2rem;
        height: 30vh;
        width: auto;
        margin-left: 0px;
}

}